# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Database
*.db
*.sqlite3
/backend/app.db

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local
tmp/
*.log
